.bnFront {
    background: #366251;
}

.bnEdge {
    background: linear-gradient(to left,
            #111e19 0%,
            #233e33 8%,
            #233e33 92%,
            #111e19 100%);
}

.amFront {
    background: #164EB4;
}

.amEdge {
    background: linear-gradient(to left,
            #071c42 0%,
            #0e3276 8%,
            #0e3276 92%,
            #071c42 100%);
}

.buttonLink {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.front {
    display: block;
    position: relative;
    padding: 12px 30px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover {
    filter: brightness(120%);
}

.pushable:hover .front {
    transform: translateY(-10px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.emailFront {
    background: #bb001b;
}

.emailEdge {
    background: linear-gradient(to left,
            #41020c 0%,
            #5f0413 8%,
            #5f0413 92%,
            #41020c 100%);
}

.liFront {
    background: #0077b5;
}

.liEdge {
    background: linear-gradient(to left,
            #052537 0%,
            #083a55 8%,
            #083a55 92%,
            #052537 100%);
}

.tiktokFront {
    background: #FE2C55;
}

.tiktokEdge {
    background: linear-gradient(to left,
                #660b1d 0%,
                #9b112d 8%,
                #9b112d 92%,
                #660b1d 100%);
    /* background: linear-gradient(to left,
            #25F4EE 0%,
            #25F4EE 8%,
            #FE2C55 92%,
            #FE2C55 100%); */
}