html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #e0d3af;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

#splashSection {
    overflow-y: hidden;
    height: 500px;
    width: auto;
    margin: 0;
    padding: 0;
}

#bgImage {
    margin: 0;
    padding: 0;
    height: auto;
    background-image:url("bookshelfImage.jpg");
    background-size: 100%;
    background-attachment: fixed;
}


#welcome {
    margin: 0;
    padding: 20px;
    font-size: 70px;
    text-align: center;
    padding-top: 200px;
    color: white;
    text-shadow: 3px 3px 9px black, 3px 3px 20px black, 3px 3px 30px black;
}

@media screen and (max-width: 800px) {
    #welcome {
        font-size: 10vw;
    }
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    font-family: 'EB Garamond',
        serif;
    font-size: 40px;
    margin: 0px;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    line-height: 1.5;
}

.bookImage {
    width: 60%;
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
}

.tagline {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

/* Container for flexboxes */
.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* Create 2 equal columns */
.column {
    flex: 50%;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

/* On screens that are 800px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
    }
}