html {
    height: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #fffccf;
    margin: 0;
    padding: 0;
    height: auto;
    overflow-y: hidden;
}

#splashSection {
    height: 400px;
    width: auto;
    margin: 0;
    padding: 0;
}

#bgImage {
    margin: 0;
    padding: 0;
    height: 80vh;
    background-image: url("bookshelfImage.jpg");
}


#welcome {
    margin: 0;
    padding: 20px;
    font-size: 70px;
    text-align: center;
    padding-top: 200px;
    color: white;
}

@media screen and (max-width: 800px) {
    #welcome {
        font-size: 10vw;
    }
}

h1 {
    font-family: 'EB Garamond', serif;
    padding-left: 20px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    font-family: 'EB Garamond',
        serif;
    font-size: 40px;
    margin: 0px;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    line-height: 1.5;
}

.tagline {
    margin-left: 20px;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

.bn {
    background-color: #366251;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.bn:hover,
.bn:active {
    background-color: #417863;
}

.am {
    background-color: #164EB4;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.am:hover,
.am:active {
    background-color: #215fd0;
}

/* Container for flexboxes */
.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* Create 2 equal columns */
.column {
    flex: 50%;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

/* On screens that are 800px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }
}