html {
    width: 100%;
    height: 100%;
    overflow-x: 0;
}

body {
    background: #dad8bd;
}

h1 {
    font-family: 'EB Garamond', serif;
    padding-left: 20px;
}

h2 {
    font-family: 'EB Garamond', serif;
    margin: 0px;
}

p {
    font-family: 'Roboto', sans-serif;
}

.bn {
    background-color: #366251;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 25px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.bn:hover,
.bn:active {
    background-color: #417863;
}

.am {
    background-color: #164EB4;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 25px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.am:hover,
.am:active {
    background-color: #215fd0;
}

/* Container for flexboxes */
.row {

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* Create 2 equal columns */
.column {
    flex: 50%;
    padding: 20px;
    box-sizing: border-box;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }
}